/* Page */

#header {
    height: 10vh;
    display: flex;
    margin: 0vh;
}

#title {
    font-size: 8vh;
    margin: auto;
}

#menu, #quiz, #results {
    height: 90vh;
    margin: 0vh;
}

.text-normal {
    font-size: min(6vh, 3vw);
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-text {
    height: 10vh;
    display: flex;
    background-color: white;
}

.gap {
    margin-bottom: 2vh;
}

.tooltip-inner {
    max-width: 100%; 
}

/* Menu */

#boxMenu, #resultsBox {
    padding: 2vh 2vh 2vh 2vh;
    border: 3vh solid rgb(0, 120, 233);
    background-color: white;
}

#buttonStartQuiz, #buttonNewQuiz {
    padding: 0vh;
    color: white;
    background-color: rgb(0, 120, 233);
}

#inputQuestionDiv {
    margin: auto;
}

#buttonDecrease, #buttonIncrease {
    width: 15%;
    color: white;
    background-color: rgb(0, 120, 233);
}

#selectLanguage, #selectDifficulty {
    text-align-last: center;
}

.row-fixed {
    height: 10vh;
}

.wrong-input-message {
    font-size: 3vh;
}

/* Quiz */

#boxScore {
    padding: 2vh;
    background-color: rgb(255, 166, 0);
}

#boxInput {
    height: 26vh;
    padding: 2vh;
    background-color: rgb(0, 120, 233);
}

#boxSolution {
    padding: 2vh;
    background-color: rgb(207, 0, 214);
}

#inputWord {
    height: 10vh;
    background: white;
}

#columnButtonNext {
    height: 10vh;
    position: relative;
    bottom: 10vh;
    display: flex;
}

#buttonNextQuestion {
    margin: auto;
    padding: 0vh;
}

#symbolArrow {
    height: 8vh;
}

.color-correct {
    color: rgb(7, 211, 0);
}

.color-wrong {
    color: red;
}

.highlight, .phoneme:hover {
    color: red;
}

/* Results */

.text-result {
    font-size: 3vh;
}
